<div> <h2>Spisak ispita za odabrani rok:</h2></div>
        <div style="width : 40%; display: inline-block; float: left;" >
       <ul >
            <li *ngFor ="#exam of exams"
                (click) = "onSelectExam(exam)">
                
                <div style ="width: 100%">
                   <span style= "display:inline-block; width:80%; font-weight:bold;">{{exam.nazivPredmeta}}</span> 
                   <span style= "display:inline-block; width:20%; float:right;">Ocena: {{exam.polozio}}</span>
                 </div>
                 
                
                
            </li>
       </ul>
       </div>
       
      <!--<div style = "width : 70%;height: 500px display: inline-block;">--> 
            <ispiti-rok-details *ngIf = "selectedExam !== null" [exam] = "selectedExam" ></ispiti-rok-details>
      <!--</div>-->             
      