 <h2> Dobrodošli u vaš korisnički nalog</h2>
           <span style= "width:200px;">Vaši podatci:</span> <br> 
           <div style="width:300px">
                  <span style= "display:inline-block; width:50%;weight:bold">Ime i prezime:</span>
                  <span style= "display:inline-block; width:50% float:right;"> {{trenutniStudent.ime}} {{trenutniStudent.prezime}}</span>
           </div>
           <div style ="width: 300px">
                   <span style= "display:inline-block; width:50%;weight:bold">Na odseku:</span> 
                   <span style= "display:inline-block; width:50% float:right;">{{trenutniStudent.odsek}}</span>
           </div>
           <span style= "width:200px;">Adresa:</span> <span>{{trenutniStudent.adresa}}<span><br>
           <span style= "width:200px;">Godina:</span> {{trenutniStudent.godinaStudija}}<br>
           <span style= "width:200px;">Uplaceno:</span> {{trenutniStudent.kredit}}rsd <br>
           <div [hidden] = "!changeDataHidden">{{poruka}}</div>
           <button (click) = "onChangeData()">Izmena ličnih podataka</button>
           <form [hidden] = "changeDataHidden" #myForm = "ngForm">
                 <div style="width : 250px;">
                    <label for = "ime"> Unesite ime: </label>
                    <input class="form-control" type="text" id="ime" 
                        ngControl="ime" [(ngModel)]="trenutniStudent.ime" #ime = "ngForm">
                  </div>  
                  <div style="width : 250px;">
                    <label for = "prezime"> Unesite prezime: </label>
                    <input class="form-control" type="text" id="prezime" 
                         ngControl="prezime" [(ngModel)]="trenutniStudent.prezime" #prezime = "ngForm">
                   </div>
                   <div style="width : 250px;">
                     <label for = "adresa"> Unesite adresu: </label>
                     <input class="form-control" type="text" id="adresa" 
                      ngControl="adresa" [(ngModel)]="trenutniStudent.adresa" #adresa = "ngForm">
                </div> 
                <button (click)= "onPromeni(ime, prezime,adresa)">Promeni</button>
           </form>