      <h2 style="color :#269;"> Dobrodošli u vaš korisnički nalog</h2>
            <span style= "width:200px;font-weight:bold;">Vaši podaci:</span> <br> 
            <div style="width:400px;border-radius: 10px;border: 2px solid #369; border-style: solid;padding:10px;">
            <div style="width:400px">
                  <span style= "display:inline-block; width:50%; font-weight:bold;">Ime i prezime:</span>
                  <span style= "display:inline-block; width:50%; float:right;"> {{trenutniStudent.ime}} {{trenutniStudent.prezime}}</span>
            </div>
            <div style ="width: 400px">
                   <span style= "display:inline-block; width:50%; font-weight:bold;">Na odseku:</span> 
                   <span style= "display:inline-block; width:50%; float:right;">{{odsek.naziv}}</span>
            </div>
            <div style ="width: 400px">
                  <span style= "display:inline-block; width:50%; font-weight:bold;">Adresa:</span> 
                  <span style= "display:inline-block; width:50%; float:right;">{{trenutniStudent.adresa}}</span>
           </div>
           <div style ="width: 400px">
                  <span style= "display:inline-block; width:50%; font-weight:bold;">Godina:</span> 
                  <span style= "display:inline-block; width:50%; float:right;">{{trenutniStudent.godinaStudija}}</span>
           </div>
           <div style ="width: 400px">
                  <span style= "display:inline-block; width:50%; font-weight:bold;">Uplaceno:</span> 
                  <span style= "display:inline-block; width:50%; float:right;">{{trenutniStudent.kredit}}rsd</span>
           </div>
           </div>
     
           <!-- ************ Promena podataka *********** -->   
           <div [hidden] = "!changeDataHidden">{{poruka}}</div>
            <button style="margin:15px 0px 15px 0px;"(click) = "onChangeData()">Izmena ličnih podataka</button>
             <button style="margin:15px 0px 15px 0px;"(click) = "onChangePass()">Izmena Lozinke</button>
           <div style="width:300px;">
            <form [hidden] = "changeDataHidden" #myForm = "ngForm">
                 <div style="width : 250px;">
                       <label for = "ime"> Unesite ime: </label>
                       <input class="form-control" type="text" id="ime" 
                        ngControl="ime" [(ngModel)]="trenutniStudent.ime" #ime = "ngForm">
                  </div>  
                  <div style="width : 250px;">
                    <label for = "prezime"> Unesite prezime: </label>
                    <input class="form-control" type="text" id="prezime" 
                         ngControl="prezime" [(ngModel)]="trenutniStudent.prezime" #prezime = "ngForm">
                   </div>
                   <div style="width : 250px;">
                     <label for = "adresa"> Unesite adresu: </label>
                     <input class="form-control" type="text" id="adresa" 
                      ngControl="adresa" [(ngModel)]="trenutniStudent.adresa" #adresa = "ngForm">
                </div> 
                <button (click)= "onPromeni()">Promeni</button>
                <button (click) ="onOdustaniPodatci()">Odustani</button>
           </form>
           
            <!-- *********** Promena Lozinke [(ngModel)]="trenutniStudent.pass"************-->    
            <div style="width: 500px;">
                  <form [hidden] = "changePassHidden" #myFormPass = "ngForm">
                   <div style="width : 100%;">
                        <div style="width: 100%;">
                              <div style= "width: 50%; float: left; display: inline-block;">
                                    <label for = "trenutnaLozinkaText"> Unesite trenutnu lozinku: </label>
                                    <input  class="form-control" type="password" id="trenutnaLozinkaText"
                                                ngControl = "trenutnaLozinka"
                                     [(ngModel)]="trenutnaLozinka" required>
                               </div>
                                <div style= "width: 50%;  display: inline-block;float: right;">
                                    <span style="width : 50%; margin:10px 10px 0px 50px; float: right;" [hidden]="trenutnaLozinka == trenutniStudent.pass || changePassHidden" 
                                           class="alert alert-danger">
                                                Obavezno uneti lozinku
                                     </span>
                              </div>
                        </div>
                        
                        <div style = "width:50%;">
                              <label for = "novaLozinka"> Unesite Novu Lozinku: </label>
                              <input  [disabled] = "!(trenutnaLozinka==trenutniStudent.pass)" 
                                         class="form-control" type="text" id="novaLozinka"
                                         ngControl = "novaLozinka"
                                      [(ngModel)]="novaLozinka" required>
                         </div>
                        
                         <div style = "width:50%;">
                              <label for = "novaLozinkaCheck"> Potvrdite lozinku: </label>
                              <input [disabled] = "!(trenutnaLozinka==trenutniStudent.pass)"
                                     class="form-control" type="text" id="novaLozinkaCheck"
                                     ngControl = "novaLozinkaCheck"
                                    [(ngModel)]="novaLozinkaCheck"  required>  
                        </div>
                  </div>
                  <button [disabled] = "!(novaLozinka==novaLozinkaCheck) || 
                                        !(trenutnaLozinka == trenutniStudent.pass)
                                       || !myFormPass.valid"
                                          (click)= "onPromeniPass()">Promeni</button>
                  <button (click) ="onOdustaniPass()">Odustani</button>
                  <span [hidden] = "(novaLozinka == novaLozinkaCheck)"> Lozinke nisu iste</span>
                  </form>
                  
                   
            </div>