      <h2 style="color :#269;"> Dobrodošli u vaš korisnički nalog</h2>
            <span style= "width:200px;font-weight:bold;">Vaši podatci:</span> <br> 
            <div style="width:400px;border-radius: 10px;border: 2px solid #369; border-style: solid;padding:10px;">
            <div style="width:400px">
                  <span style= "display:inline-block; width:50%; font-weight:bold;">Ime i prezime:</span>
                  <span style= "display:inline-block; width:50%; float:right;"> {{trenutniStudent.ime}} {{trenutniStudent.prezime}}</span>
            </div>
            <div style ="width: 400px">
                   <span style= "display:inline-block; width:50%; font-weight:bold;">Na odseku:</span> 
                   <span style= "display:inline-block; width:50%; float:right;">{{odsek.naziv}}</span>
            </div>
            <div style ="width: 400px">
                  <span style= "display:inline-block; width:50%; font-weight:bold;">Adresa:</span> 
                  <span style= "display:inline-block; width:50%; float:right;">{{trenutniStudent.adresa}}</span>
           </div>
           <div style ="width: 400px">
                  <span style= "display:inline-block; width:50%; font-weight:bold;">Godina:</span> 
                  <span style= "display:inline-block; width:50%; float:right;">{{trenutniStudent.godinaStudija}}</span>
           </div>
           <div style ="width: 400px">
                  <span style= "display:inline-block; width:50%; font-weight:bold;">Uplaceno:</span> 
                  <span style= "display:inline-block; width:50%; float:right;">{{trenutniStudent.kredit}}rsd</span>
           </div>
           </div>
     
           <!-- ************ Promena podataka *********** -->   
           <div [hidden] = "!changeDataHidden">{{poruka}}</div>
            <button style="margin:15px 0px 15px 0px;"(click) = "onChangeData()">Izmena ličnih podataka</button>
             <button style="margin:15px 0px 15px 0px;"(click) = "onChangePass()">Izmena Lozinke</button>
           <div style="width:300px;">
            <form [hidden] = "changeDataHidden" #myForm = "ngForm">
                 <div style="width : 250px;">
                       <label for = "ime"> Unesite ime: </label>
                       <input class="form-control" type="text" id="ime" 
                        ngControl="ime" [(ngModel)]="trenutniStudent.ime" #ime = "ngForm">
                  </div>  
                  <div style="width : 250px;">
                    <label for = "prezime"> Unesite prezime: </label>
                    <input class="form-control" type="text" id="prezime" 
                         ngControl="prezime" [(ngModel)]="trenutniStudent.prezime" #prezime = "ngForm">
                   </div>
                   <div style="width : 250px;">
                     <label for = "adresa"> Unesite adresu: </label>
                     <input class="form-control" type="text" id="adresa" 
                      ngControl="adresa" [(ngModel)]="trenutniStudent.adresa" #adresa = "ngForm">
                </div> 
                <button (click)= "onPromeni()">Promeni</button>
                <button (click) ="onOdustaniPodatci()">Odustani</button>
           </form>
           <div style="width: 300px;">
            <!-- *********** Promena Lozinke [(ngModel)]="trenutniStudent.pass"************-->    
            <div>
                  <form [hidden] = "changePassHidden" #myFormPass = "ngForm">
                   <div style="width : 250px;">
                        
                        <label for = "trenutnaLozinkaText"> Unesite trenutnu lozinku: </label>
                        <input class="form-control" type="password" id="trenutnaLozinkaText"
                         [(ngModel)]="trenutnaLozinka">
                        
                        <label for = "novaLozinka"> Unesite Novu Lozinku: </label>
                        <input class="form-control" type="text" id="novaLozinka"
                        [(ngModel)]="novaLozinka">
                         
                        <label for = "novaLozinkaCheck"> Potvrdite lozinku: </label>
                        <input class="form-control" type="text" id="novaLozinkaCheck"
                        [(ngModel)]="novaLozinkaCheck">  
                   
                  </div>
                  <button (click)= "onPromeniPass()">Promeni</button>
                  <button (click) ="onOdustaniPass()">Odustani</button>
                  </form>
            </div>